extends ../layouts/default

block content
	.container
		.row
			each category in categories[0]
				.col-md-3
					.thumbnail.text-center(style="cursor: pointer", class=category.name.toLowerCase())
						img.img-responsive(src="/images/home/" + category.name.toLowerCase() + ".jpg")
						.caption: h4= category.name
		.row.row-expand(style="display: none;")
			each category in categories[0].concat(categories[1])	
				.col-sm-12.col-md-12.msf-card(style="display: none;", class=category.name.toLowerCase())
					button.close(type="button", aria-label="Close")
						span(aria-hidden="true") &times;
					.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
						h1.page-header.hat.text-center= category.label
						div!= category.description
						.navbar.navbar-default.navbar-subcat(role="navigation")
							ul.nav.navbar-nav
								each subcat in category.categories
									li: a(href="/" + category.name + "/" + encodeURI(subcat.name))= subcat.name

		.row
			each category in categories[1]
				.col-md-3
					.thumbnail.text-center(style="cursor: pointer", class=category.name.toLowerCase())
						img.img-responsive(src="/images/home/" + category.name.toLowerCase() + ".jpg")
						.caption: h4= category.name

block js
	script(src="/js/views/index.js")